/*This file is for styles used in the /home view*/

.home-container {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    color: black;
    min-height: 100vh;
    background: var(--color-background) !important;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home-logo {
    display: flex;
    width: 20rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.panel {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/*----------------------LOGIN--------------------------*/

.login-panel {
    width: 30rem;
    max-height: 26rem;
}

.login-header,
.register-header {
    font-family: 'jost-regular';
    text-align: center;
    font-style: normal;
}

#login-button,
#register-button,
#register-back {
    width: 30%;
}

/*---------------------REGISTER------------------------*/

.register-panel {
    width: 30rem;
    max-height: 55rem;
}

.register-success-panel {
    width: 30rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#backButton {
    a {
        outline: none;
    }
}

/*----------------------COMMON-------------------------*/

.error-text {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    color: red;
}

.action-section {
    margin-top: 1rem;
}

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}