.account-information {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    height: auto;
    width: 40%;
    border-radius: 1rem;
    border: 2px solid #7a7a7a;
    background-color: white;
    box-shadow: 0em 0em 1.2em 0.36em rgba(0, 0, 0, 0.075);
}

.account-information-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.account-information-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-information-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 1rem;
    max-width: 70%;
}

.account-information-item {
    margin-bottom: 1.25rem;
}

.security-answer-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}