.home-panel {
    display: flex;
    flex-direction: column;
}

.home-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.home-card {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: fit-content;
    padding: 1rem;
    margin-right: 2%;
    max-width: 25%;
    border-radius: 1rem;
    box-shadow: 0em 0em 1.2em 0.36em lightgray !important;
}

.home-card-label {
    height: 20%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-card-content {
    height: 80%;
}

.home-card-content>.stat {
    color: #E8C900;
}

.home-card-content span {
    font-size: large;
}

/* inventory */

.inventory-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.inventory-search,
.inventory-add {
    max-width: 30rem;
    margin-left: 1rem;
}

.inventory-panel-header {
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin-bottom: 1rem;
}

.inventory-panel-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;

    height: 100%;
    width: 100%;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.1rem 0.04rem lightgray;
}

.inventory-panel-footer {
    height: 15%
}

.generate-recipe-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.generate-recipe-form {
    margin-left: 1rem;
}

.generate-recipe-form,
.generate-recipe-results {
    width: 45%;
}

.generate-recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#generate-ingredient-custom,
#generate-preference-custom,
#generate-count-custom {
    max-width: 75%;
}

.generate-ingredients,
.generate-preferences,
.generate-count {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#generate-count-custom {
    width: 10rem;
}

.generate-recipe-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.generate-add-ingredient,
.generate-add-preference {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.summary-ingredients {
    margin-right: 5rem;
}

.summary-ingredients-list,
.summary-preferences-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 1rem;
}

.summary-ingredients {
    margin-right: 50%;
}

.generate-results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}