.recipe-list,
.recipe-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    height: auto;
    width: 40%;
    background-color: white;
    box-shadow: 0em 0em 1.2em 0.36em lightgray;
}

.recipe-inspect,
.recipe-edit,
.recipe-create {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    height: auto;
    width: 50%;
    border-radius: 1rem;
    border: 2px solid #7a7a7a;
    background-color: white;
    box-shadow: 0em 0em 1.2em 0.36em rgba(0, 0, 0, 0.075);
}

.recipe-list-header,
.recipe-search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.recipe-list-header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-inspect-actions,
.recipe-edit-actions,
.recipe-create-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recipe-inspect-actions {
    padding: 1rem;
}

.recipe-edit-actions,
.recipe-create-actions {
    margin-bottom: 2rem;
}

.recipe-inspect-actions button,
.recipe-edit-actions button,
.recipe-create-actions button {
    margin-right: 1rem;
}

.recipe-list-content,
.recipe-search-content,
.recipe-inspect-content,
.recipe-edit-content,
.recipe-create-content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}

.recipe-author {
    margin-bottom: 1rem;
}

.recipe-author-link {
    text-decoration: underline;
    cursor: pointer;
}

.recipe-list-content {
    margin-top: 0.5rem;
}

#recipe-search-input {
    width: 40rem;
    margin-bottom: 1rem;
}

.recipe-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-list-info {
    padding-top: 0.7rem;
    color: red;
    cursor: pointer;
}

.recipe-card {
    margin-bottom: 0.25rem;
    width: 48%;
    height: 2rem;
    background-color: #EADE8E;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* EDIT RECIPE ---------------------------*/

.recipe-info-edit,
.recipe-ingredients-edit,
.recipe-directions-edit,
.recipe-info-create,
.recipe-ingredients-create,
.recipe-directions-create {
    margin-top: 1rem;
}

.recipe-ingredients-create,
.recipe-directions-create {
    max-width: 70%;
}

.recipe-notes-edit,
.recipe-notes-create {
    margin-top: 1rem;
}

.recipe-public-edit,
.recipe-public-create {
    margin-top: 1rem;
    margin-bottom: 2rem
}

.recipe-create-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-create-section-title {
    margin-bottom: 1rem;
}

.recipe-edit-list-element,
.recipe-edit-list-add,
.recipe-create-list-element,
.recipe-create-list-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.recipe-list-element-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up-arrow-icon,
.down-arrow-icon,
.remove-item-icon {
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.25rem;
    width: 1rem;
    height: 1rem;
}

.recipe-edit-list-element,
.recipe-create-list-element {
    justify-content: space-between;
    max-width: 60%;
}

.recipe-edit-list-element span,
.recipe-create-list-element span {
    max-width: 75% !important;
    text-wrap: wrap;
}

#edit-recipe-recipeName,
#edit-recipe-recipeDesc,
#create-recipe-recipeName,
#create-recipe-recipeDesc {
    width: 70%;
    margin-bottom: 1rem;
}

#edit-recipe-newIngredientQuantity,
.input>#create-recipe-newIngredientQuantity {
    margin-right: 1rem;
}

#edit-recipe-newIngredientUnit,
#create-recipe-newIngredientUnit {
    margin-right: 1rem;
}

#edit-recipe-newIngredientName,
#create-recipe-newIngredientName {
    margin-right: 1rem;
}

#edit-recipe-newDirection,
#create-recipe-newDirection {
    margin-right: 1rem;
}

#edit-recipe-notes,
#create-recipe-notes {
    width: 70%;
    margin-top: 1rem;
}

.recipe-update-success {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: green;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1rem;
}

.recipe-update-error,
.recipe-create-error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recipe-update-success p,
.recipe-update-error p,
.recipe-create-error p {
    cursor: pointer;
}

/* GENERATE RECIPE */

.generate-recipe-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.generate-recipe-form {
    margin-left: 1rem;
}

.generate-recipe-form,
.generate-recipe-results {
    width: 45%;
}

.generate-recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#generate-ingredient-custom,
#generate-preference-custom,
#generate-count-custom {
    max-width: 75%;
}

.generate-ingredients,
.generate-preferences,
.generate-count {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#generate-count-custom {
    width: 10rem;
}

.generate-recipe-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.generate-add-ingredient,
.generate-add-preference {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#generate-ingredient-select,
#generate-preference-select {
    margin-right: 1rem;
}

.generate-summary-ingredients {
    margin-right: 5rem;
}

.generate-summary-ingredients-list,
.generate-summary-preferences-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 1rem;
}

.generate-summary-ingredients {
    margin-right: 50%;
}

.generate-results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}